---
import { getCollection } from "astro:content";
import ExperienceItem from "./ExperienceItem.astro";
import { t } from "../../../i18n/ui";

const { locale } = Astro.props;

const entries = await getCollection("experience", (entry) =>
  entry.id.startsWith(locale + "/"),
);

const sortedEntries = entries.sort(
  (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime(),
);
---

<section class="mt-12">
  <div class="prose lg:prose-xl mt-12 mb-8 text-center md:text-left">
    <h1 id="work" class="text-brand scroll-mt-20 underline">
      {t("experience.heading", locale)}
    </h1>
  </div>
  <ol class="border-default relative border-s">
    {sortedEntries.map((entry) => <ExperienceItem experience={entry.data} />)}
  </ol>
</section>
