---
import Strong from "../Strong.astro";

const hrefTheOdinProject = "https://www.theodinproject.com";
---

<section id="about" class="prose lg:prose-xl mt-12 text-center md:text-left">
  <h1 class="text-brand underline">About</h1>
  <p class="text-text-subtle text-pretty">
    I'm a 23 years old <Strong>Computer Engineering student</Strong> at UNT with an
    8.9/10 GPA and strong foundations in software and systems. I'm obsessed with understanding
    how everything works behind the scenes.
  </p>
  <p class="text-text-subtle text-pretty">
    I developed my <Strong>Full Stack</Strong> skills through <a
      href={hrefTheOdinProject}
      class="text-brand-text no-underline">The Odin Project</a
    > and now have a growing focus on backend engineering and infrastructure.
  </p>
  <p class="text-text-subtle text-pretty">
    Fun fact: I was born in Río Gallegos, <span class="text-cyan-300">Arg</span
    >e<span class="text-yellow-300">n</span>t<span class="text-cyan-300"
      >ina</span
    >, so my friends call me 'Pingüino' 🐧.
  </p>
</section>
