---
import Strong from "../Strong.astro";
import { t } from "../../i18n/ui";

const { locale } = Astro.props;
const hrefTheOdinProject = "https://www.theodinproject.com";
---

<section
  id="about"
  class="prose lg:prose-xl mt-12 scroll-mt-20 text-center md:text-left"
>
  <h1 class="text-brand underline">{t("about.heading", locale)}</h1>

  <!-- Paragraph 1 -->
  <p class="text-text-subtle text-pretty">
    {t("about.p1.beforeStrong", locale)}<Strong
      >{t("about.p1.strong", locale)}</Strong
    >{t("about.p1.afterStrong", locale)}
  </p>

  <!-- Paragraph 2 -->
  <p class="text-text-subtle text-pretty">
    {t("about.p2.beforeStrong", locale)}<Strong
      >{t("about.p2.strong", locale)}</Strong
    >{t("about.p2.afterStrong", locale)}<a
      href={hrefTheOdinProject}
      class="text-brand no-underline">{t("about.p2.link", locale)}</a
    >{t("about.p2.afterLink", locale)}
  </p>

  <!-- Paragraph 3 -->
  <p class="text-text-subtle text-pretty">
    {t("about.p3.beforeSpan", locale)}<span class="text-brand"
      >{t("about.p3.span", locale)}</span
    >{t("about.p3.afterSpan", locale)} 🐧
  </p>
</section>
