---
import { Image } from "astro:assets";
import profileImg from "../../assets/ProfilePicture.png";
import SocialMedia from "../socialMedia/SocialMedia.astro";
---

<section
  class="self-center-safe flex flex-col justify-center items-center mt-1 prose lg:prose-xl"
>
  <Image
    src={profileImg}
    alt="Fabricio Blasich's Profile Picture"
    quality="mid"
    class="size-56 md:size-65 lg:size-70 object-cover"
  />
  <h2 class="text-center text-text-muted">Fabricio Blasich</h2>
  <h1 class="text-center text-text">Computer Engineer</h1>
  <SocialMedia />
</section>
