---
import About from "./About.astro";
import Hero from "./Hero.astro";
import Experience from "./work/Experience.astro";
import Projects from "./project/Projects.astro";

const { locale } = Astro.props;
---

<main
  id="main"
  tabindex="-1"
  class="container flex max-w-screen-2xl scroll-mt-20 flex-col"
>
  <Hero locale={locale} />
  <About locale={locale} />
  <Experience locale={locale} />
  <Projects locale={locale} />
</main>
