---
import About from "./About.astro";
import Hero from "./Hero.astro";
import Experience from "./work/Experience.astro";
import Projects from "./project/Projects.astro";
---

<main class="container flex flex-col">
    <Hero />
    <About />
    <Experience />
    <Projects />
</main>