---
import Button from '../components/Button.astro';
import Main from '../components/main/Main.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Fabricio Blasich's Porfolio"
---

<BaseLayout title={title}>
	<Main />
	<!-- <article class="container" >
		<main><p class="font-space-mono">Hello world</p></main>
		<Button>Add</Button>
	</article> -->
</BaseLayout>