---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import LanguageToggle from "./LanguageToggle.astro";

const { locale } = Astro.props;
---

<header
  class="bg-surface/85 header-glass sticky top-0 z-[100] w-full backdrop-blur-[12px]"
>
  <div
    class="container flex max-w-screen-2xl flex-wrap items-center justify-between py-4"
  >
    <div class="flex items-center gap-1">
      <LanguageToggle locale={locale} />
      <ThemeIcon />
    </div>

    <Navigation locale={locale} />
  </div>
</header>
