---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="container flex max-w-screen-2xl flex-wrap items-center justify-between py-4"
>
  <div>
    <ThemeIcon />
  </div>

  <Navigation />
</header>
