---
const { href, size, svgRef, aria_label } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={aria_label}
  class="border-border text-text bg-surface-raised hover:border-brand-muted flex items-center justify-center gap-x-2 rounded-full border px-3 py-3 no-underline transition-transform hover:scale-105"
>
  <svg class=`icon ${size}`>
    <use href={`/sprite.svg${svgRef}`}></use>
  </svg>
  <slot />
</a>
