---
import Media from "./Media.astro";
---

<div class="flex gap-4">
  <a href="https://github.com/ArchivexBlasich" target="_blank" rel="noopener noreferrer">
    <Media href="#github_dark" size="size-8" />
  </a>
  <a
    href="https://www.linkedin.com/in/fabricio-lucas-blasich-bb6336399"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Media href="#linkedin" size="size-8" />
  </a>
</div>
