---
import SocialPill from "./SocialPill.astro";
import { t } from "../../i18n/ui";

const { locale } = Astro.props;
---

<div class="flex flex-wrap items-center justify-center gap-4">
  <SocialPill
    href="https://github.com/ArchivexBlasich"
    size="size-8"
    svgRef="#github_dark"
    aria_label={t("social.github.aria", locale)}
  >
    {t("social.github", locale)}
  </SocialPill>

  <SocialPill
    href="https://www.linkedin.com/in/fabricio-lucas-blasich"
    size="size-8"
    svgRef="#linkedin"
    aria_label={t("social.linkedin.aria", locale)}
  >
    {t("social.linkedin", locale)}
  </SocialPill>

  <SocialPill
    href="mailto:fblasich0@gmail.com"
    size="size-8"
    svgRef="#message-2-share"
    aria_label={t("social.mail.aria", locale)}
  >
    fblasich0@gmail.com
  </SocialPill>
</div>
