---
const { href, size, svgRef, aria_label } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={aria_label}
  class="rounded-full border border-border
   text-text flex justify-center items-center bg-surface-raised
   gap-x-2 py-3 px-3 no-underline transition-transform
   hover:scale-105 hover:border-brand-muted"
>
  <svg class=`icon ${size}`>
    <use href={`/sprite.svg${svgRef}`}></use>
  </svg>
  <slot />
</a>
