---
import SocialPill from "./SocialPill.astro";
---

<div class="flex flex-wrap items-center justify-center gap-4">
  <SocialPill
    href="https://github.com/ArchivexBlasich"
    size="size-8"
    svgRef="#github_dark"
    aria_label="Visit Fabricio's GitHub Profile"
  >
    Github
  </SocialPill>

  <SocialPill
    href="https://www.linkedin.com/in/fabricio-lucas-blasich-bb6336399"
    size="size-8"
    svgRef="#linkedin"
    aria_label="Visit Fabricio's LinkedIn Profile"
  >
    Linkedin
  </SocialPill>

  <SocialPill
    href="#"
    size="size-8"
    svgRef="#message-2-share"
    aria_label="Fabricio's mail"
  >
    fblasich0@gmail.com
  </SocialPill>
</div>
